$activeStateBgPath : "../images/checkbox-check.svg";
$inactiveStateBgPath : "../images/checkbox.svg";
$partialStateBgPath : "../images/checkbox.svg";

.aori-checkbox {
  height: 30px;
  margin: 0 !important;
  position: relative;
  display: inline-block;
  cursor: pointer;

  label.checkbox-bg {
    padding-left: 20px;
    background: url($inactiveStateBgPath) 0 0; //@TODO Как следует вырезать
    background-repeat: no-repeat;
	height: 30px;
  }

  input {
    visibility: hidden;
    /*width: 0;
    height: 0 !important;*/
  }

  input:checked + label.checkbox-bg {
    background-image: url($activeStateBgPath);
  }

  &.partial {
    input + label.checkbox-bg {
      background-image: url($partialStateBgPath);
    }
  }
}
