@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic-ext,cyrillic);

* {
	-webkit-font-smoothing: none;
}

h1, h2, h3, h4, h5, h6, .heading {
  font-weight: 600;
  -webkit-font-smoothing: none;
}
b {font-weight: 700; -webkit-font-smoothing: none;}
